<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
    <!--Spring helpers-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <!--thrift-->
    <bean class="ru.darlz.ff.thrift.ThriftServerStarter">
        <property name="port" value="33002"/>
    </bean>
    <bean id="thriftImpl" class="ru.darlz.ff.thrift.ThriftYaletProcessorImpl"/>

    <!--protobuf-->
    <bean class="ru.darlz.ff.protobuf.ProtobufServerStarter">
        <property name="port" value="33003"/>
    </bean>
    <bean id="protobufImpl" class="ru.darlz.ff.protobuf.ProtobufYaletProcessorImpl"/>


    <!--<bean id="doNothingYalet" class="net.sf.xfresh.server.DoNothingYalet"/>-->
    <bean id="goBackYalet" class="ru.darlz.ff.GoBackYalet"/>
    <bean id="listYalet" class="ru.darlz.ff.ListYalet"/>
    <bean id="likedYalet" class="ru.darlz.ff.LikedYalet"/>
    <bean id="fromYalet" class="ru.darlz.ff.FromYalet"/>
    <bean id="addStoryYalet" class="ru.darlz.ff.AddStoryYalet"/>
    <bean id="likeItYalet" class="ru.darlz.ff.LikeItYalet"/>


    <!--DB conf-->
    <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource" lazy-init="false">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ff?useUnicode=true&amp;characterEncoding=utf8"/>
        <property name="username" value="xfresh"/>
        <property name="password" value="xfresh"/>
        <property name="validationQuery" value="select 1"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate" lazy-init="false">
        <constructor-arg ref="dataSource"/>
    </bean>

</beans>